<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681770251376-i5lkekj4d4vor4tr9nuj4rpcm5o35spe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681770251376-i5lkekj4d4vor4tr9nuj4rpcm5o35spe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681770251376-1ot5hvccrptmod4mvqgdmsqcpvj4nr72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAFC72I538-EtVZG6eTX3tP9RNyC1OXl8</string>
	<key>GCM_SENDER_ID</key>
	<string>681770251376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kh.ics.school</string>
	<key>PROJECT_ID</key>
	<string>icsis-1c9d9</string>
	<key>STORAGE_BUCKET</key>
	<string>icsis-1c9d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:681770251376:ios:b4871840e93e996588b0b5</string>
</dict>
</plist>
